/* =========================
   PROCESOS
========================= */

.procesos {
  padding: 80px 20px;
  background: #f5f7fa;
}

.procesos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

/* TEXTO */
.procesos-texto h2 {
  color: #2d5fa4;
  font-size: 26px;
  margin-bottom: 10px;
}

.procesos-texto p {
  font-size: 14px;
  color: #444;
  line-height: 1.7;
  margin-bottom: 12px;
}

/* IMAGEN */
.procesos-img img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

/* =========================
   LISTADO
========================= */

.procesos-listado {
  padding: 60px 20px;
  background: #f5f7fa;
}

/* TITULO */
.procesos-year {
  text-align: center;
  color: #2d5fa4;
  font-size: 22px;
  margin-bottom: 30px;
}

/* GRID */
.procesos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

/* CARD */
.proceso-card {
  display: grid;
  grid-template-columns: 80px 1fr auto;
  align-items: center;
  background: #fff;
  border: 1px solid #cdddf5;
  border-radius: 8px;
  padding: 20px;
}

/* PDF */
.proceso-left img {
  width: 50px;
}

/* INFO */
.proceso-info h4 {
  color: #2d5fa4;
  font-size: 15px;
  margin-bottom: 8px;
}

.proceso-info p {
  font-size: 13px;
  color: #5a7bbd;
  margin: 2px 0;
}

/* BOTÓN */
.proceso-btn a {
  background: #6bb36b;
  color: #fff;
  padding: 10px 18px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}
/* =========================
   GOVBAR (BARRA SUPERIOR)
========================= */

.govbar {
  background: #1f4aa8; /* azul tipo gov */
  padding: 8px 0;
}

.govbar-container {
  display: flex;
  align-items: center;
}

/* LOGO */
.gov-logo {
  height: 40px;
  width: auto;
  object-fit: contain;
}